.hero 
{
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, $gradient-color, $gradient-color), url(../../images/hero-background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $footer-color;
  text-align: center;
  padding: 200px 0;
}

.hero__title 
{
  color: $hero-text-color;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.button-primary
{
  background-color: $button-color;
  color: $header-color;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 10px 32px;
  border: none;
}